@font-face {
    font-family: 'Hoves-Pro-Trial-Condensed';
    src: url('../webfonts/TT-Hoves-Pro-Trial-Condensed-DemiBold.ttf'),
        url('../webfonts/TT\ Hoves-Pro-Trial-Condensed-Bold.ttf');
}

@font-face {
    font-family: 'Hoves-Pro-Trial-Regular';
    src: url('../webfonts/TT-Hoves-Pro-Trial-Regular.ttf');
}

body {
    font-family: 'Hoves-Pro-Trial-Regular', sans-serif;
    font-size: 16px;
    color: #2F4558;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hoves-Pro-Trial-Condensed', sans-serif;
}

a {
    color: #2F4558;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

a:hover {
    border-bottom: 1px solid #2d7276;
    color: #2F4558;
}

a,
button {
    transition: all .3s linear;
}

a:focus,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'mplus1p', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.owl-feedback-form input,
.owl-feedback-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}

.registration__agree {
    margin-top: 10px;
}

button.btn-close {
    font-size: 14px;
    z-index: 1;
    right: 15px;
    top: 7px;
    position: absolute;
}

.navbar-dark .navbar-nav .nav-link {
    color: #2d7276;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #2d7276;
}

.nav-item {
    position: relative;
}

#button-up {
    display: none;
    right: 30px;
    margin: 0;
    position: fixed;
    bottom: 67px;
    outline: none;
    color: #3f4049;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
    z-index: 9;
}

#button-up::before {
    font-family: FontAwesome;
    content: "\f062";
    background-color: #fff;
    border-radius: 50%;
    padding: 8px 10.79px;
    font-size: 22px;
}

.button-green-main {
    background-color: #2d7276;
    border: 2px solid #2d7276;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    outline: none;
    font-weight: 600;
    line-height: initial;
}

.button-green-main:hover {
    background-color: #fff;
    color: #2d7276;
    border: 2px solid #2d7276;
}

.logo-block a:hover {
    border-bottom-color: transparent;
}

.header-top-block {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 0 600px 0;
    font-size: 22px;
}

.navbar-sub li:last-child {
    margin-bottom: 0;
}

.main-page-btn {
    border: 1px solid #2F4558;
    border-radius: 10px;
    padding: 16px 15px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}

.main-page-btn:hover {
    background-color: #2F4558;
    color: #fff;
}

.page-header {
    background-image: url('../images/header-img.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin-bottom: 60px;
}

.logo-block {
    width: 250px;
}

.logo-block img {
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #2d7276;
}

.footer-page {
    background-color: #064240;
    padding: 40px 0;
}

.footer-flex-block {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    align-items: flex-start;
}

.footer-flex-block .header-logo {
    width: 161px;
}

.footer-flex-block .header-logo img {
    width: 100%;
}

.footer-flex-block a {
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.footer-address-item {
    text-align: right;
}

.footer-address-social {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}

.footer-address-social a {
    margin-left: 10px;
}

.text-paragraph {
    margin-bottom: 40px;
}

.green-block {
    background-color: #c0dec3;
    padding: 40px 0;
}

.advantages-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages-block-left,
.advantages-block-right {
    width: 50%;
    color: #fff;
    padding: 25px;
}

.advantages-block-left {
    background-color: #064240;
}

.advantages-block-right {
    background-color: #0e7b60;
}

.advantages-block-left h4,
.advantages-block-right h4 {
    text-align: left;
    margin-bottom: 20px;
}

.advantages-block {
    margin-bottom: 40px;
}

.text-center {
    margin-bottom: 40px;
}

.visible-xs {
    display: none;
}

.footer-politics a,
.footer-politics,
.footer-copyright,
.footer-copyright a {
    color: #fff;
}

.footer-copyright {
    font-size: 12px;
}

.map-block {
    position: relative;
}

.contact-block {
    position: absolute;
    z-index: 1;
    top: 86px;
    padding: 15px;
    background-color: rgb(100%, 100%, 100%, 0.7);

    width: 457px;
}

.contact-block h3 {
    margin-bottom: 20px;
    text-align: left;
}

.contact-block i {
    font-size: 22px;
    margin-right: 10px;
}

.catalog-set-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.catalog-item {
    width: 24%;
    transition: all .3s linear;
    margin-bottom: 30px;
    box-shadow: 5px 6px 32px -12px #333;
    padding: 20px;
}

.catalog-item:hover {
    box-shadow: 0px 2px 64px -13px #333;
}

.catalog-item-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.catalog-item-image img {
    width: 100%;
    margin-bottom: 20px;
}

.main-catalog-btn {
    margin: 15px 0;
}

.catalog-item-description-row span {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media(max-width:1199px) {
    .main-catalog-btn .button-green-main {
        margin-bottom: 20px;
    }
}

@media(max-width: 991px) {

    .footer-flex-block {
        flex-wrap: wrap;
    }

    .footer-links {
        margin-right: 15px;
    }

    .header-top-block {
        flex-wrap: wrap;
    }

    .header-top-block {
        padding: 20px 0 300px 0;
    }

    .main-catalog-btn .button-green-main {
        margin-bottom: 10px;
    }

    .catalog-item {
        width: 48%;
    }
}

@media(max-width: 767px) {
    .navbar-expand-md {
        justify-content: flex-end;
        width: 100%;
    }

    .navbar-dark .navbar-toggler {
        border: 2px solid #2d7276;
        background-color: #2d7276;
    }

    .header-top-block {
        flex-wrap: wrap;
    }

    .advantages-block-left,
    .advantages-block-right {
        width: 100%;
    }

    .hidden-xs {
        display: none;
    }

    .visible-xs {
        display: block;
    }

    .navbar-collapse {
        background-color: #fff;
        padding: 15px;
    }

    .mobile-map-flex {
        display: flex;
        flex-direction: column-reverse;
    }

    .contact-block {
        position: inherit;
        width: 100%;
    }

    .advantages-block-right:nth-child(3) {
        background-color: #064240;
    }

    .advantages-block-left:nth-child(4) {
        background-color: #0e7b60;
    }

    .catalog-item {
        width: 100%;
    }
}

@media(max-width: 500px) {
    .logo-block {
        width: 140px;
    }

    .button-green-main {
        padding: 10px;
    }

    .footer-flex-block .header-logo {
        width: 100%;
    }

    .footer-flex-block .header-logo img {
        width: 161px;
    }
}

@media(max-width: 341px) {
    .footer-address-social {
        justify-content: flex-start;
    }
}